body {
    background-color: #FB7163;
    margin: 0;
}

h1 {
    margin: 0;
}

#headBar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    height: 10vh;
    container-type: inline-size;
}

.headers {
    width: 60%;
    font-size: 5vmin
}

h1 {
    margin: 0;
    white-space: nowrap;
}

.coinWorth {
    font-size: 3.5cqh;
    margin-left: 5px;
}


#cardGrid {
    display: grid;
    height: 90vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}


.card {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 10%;
    flex-direction: column;
    overflow: visible;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
    border-radius: 10%;
    background-color: #111D32;
    height: 85%;
    width: 60%;
    border: 1px solid black;
    /* Common 'cutout' look */
}

.coinBox {
    display: flex;
    position: absolute;
    right: 0;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 18%;
    top: 0;
    transform: translate(20%, -50%);
    border-radius: 15%;
    background-color: #DBCFA2;
    border: 1px solid black;
}

.cardCoin {
    height: 90%;

    /* 3. The Math: Move it right 50% of itself, and up 50% of itself */


}

.questionBox {
    display: flex;
    justify-content: center;
    border-radius: 10%;
    width: 80%;
    justify-self: center;
    height: 25%;
    background-color: #E8DCB7;
    border: 1px solid black;
}

.mathProblems {
  
}

.inputBox {
    border-radius: 10%;
    height: 20%;
    width: 40%;
}

.input {
    border-radius: 10%;
    width: 100%;
    height: 100%;
}